<div class="myModal">
    <div class="modal-header">
        <h3 class="modal-title">Select city</h3>
    </div>
    <div class="modal-body row">
        <div class="col-md-12">
            <input type="text" ng-model="searchStr" typeahead-on-select="selectCity($item, $model, $label, $event)" uib-typeahead="city for city in cities | filter:$viewValue" class="form-control">
        </div>
        <div>
            <div class="col-md-3" ng-repeat="city in selectedCities track by $index">{{city}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    </div>
</div>