<div class="container">
    <div class="row">
        <div class="col-xs-10 col-centered">
            <div class="row">
                <div class="col-xs-11  page-title">
                    Adwert
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 search-filter">
                    <!-- Category -->
                    <div class="row">
                        <div class="col-xs-12 section-name">
                            <h4>Company</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Company name</span>
                        </div>
                    </div>

                           
                </div>

                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-11 col-centered">                    
                            <div class="row search-header">
                                    Search Result
                            </div>              
                            <div class="row" style="background-color:#fafdfe">
                                <div class="col-xs-12 search-list">

                                    <div ng-repeat="advert in adverts" class="row search-res">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 title">{{advert.title}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 company">Company name</div>
                                                <div class="col-xs-6 empl-type">{{advert.emplType}} - {{advert.hoursPerWeek}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 descr">
                                                    {{advert.description}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 cities">
                                                    <span>Cities:</span>
                                                    <span ng-repeat="city in advert.cities" class="city">{{city}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 skills">
                                                    <span>Skills:</span>
                                                    <span ng-repeat="skill in advert.skills" class="skill">{{skill}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 bottom-border">
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>