<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-3">
                <div class="row">Company</div>
                <div class="row"><img src="http://lorempixel.com/image_output/abstract-q-g-150-150-7.jpg" alt="company logo"></div>
                <div class="row">
                    <a href="/#/create/adwert"><button class="btn btn-info">Add proposals</button></a>
                </div>
                </div>
                <div class="col-xs-9">
                    <div class="row">{{profile.name}}</div>
                    <div class="row">
                        Website: {{profile.website}}
                    </div>
                    <div class="row" ng-show="profile.cities">
                        Cities
                        <div class="row">
                            <div class="col-xs-4" ng-repeat="city in profile.cities" ng-model="company.cities">
                              <span class="col-xs-12 label-grey">{{city}}</span>
                            </div>
                          </div>
                        </div>
                    <div class="row">
                        <div class="panel panel-default">
                          <div class="panel-heading">Description</div>
                          <div class="panel-body">
                            {{profile.description}}
                          </div>
                        </div>
                    </div>
                    <div class="row">proposals</div>
                    <div class="row">
                        <div class="col-xs-12">
                            Filters
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row" ng-repeat="advert in adverts">
                                <div class="col-xs-12">
                                    {{advert.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>