<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-3">
                <div class="row">Company</div>
                <div class="row">Image</div>
                <div class="row">
                    <a href="/#/create/adwert"><button class="btn btn-info">Create adwert</button></a>
                </div>
                </div>
                <div class="col-xs-9">
                    <div class="row">{{profile.name}}</div>
                    <div class="row">{{profile.site}}</div>
                    <div class="row">{{profile.cities}}</div>
                    <div class="row">{{profile.description}}</div>
                    <div class="row">proposals</div>
                </div>
            </div>
        </div>
    </div>
</div>