<link rel="stylesheet" type="text/css" href="../styles/createAdvert.css">

<div class="container col-md-offset-3 col-md-6" style="background-color: white;
    margin-top: 20px;" >
    <div class="row">
        <div class="row search-header">
                Create Advert
        </div>  
    </div>
    <div class="row" >
        <div class="col-md-7">
            <div class="block">
                <input class="form-control input-grey" ng-model="advertData.title" type="text" placeholder="Title" style="margin: 10px 0px 10px">
            </div>
            <div class="block">
                <div class="text-left" style="margin: 10px 0px 10px">
                    <p class="input-group">
                        <input type="text" class="form-control input-grey" uib-datepicker-popup="dd.MM.yyyy" ng-model="advertData.dateSelEnd" is-open="isDatepickerOpen" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-grey" ng-click="openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

            </div>
            <!--salary-->
            <div class="block">
                <p class="form-control text-left input-grey">Salary / Grants</p>
                <div class="form-group ">
                    <div class="radio">
                        <label><input type="radio" name="grants" value="true" ng-model="advertData.paid">Have</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="grants" value="false" ng-model="advertData.paid">Don't Have</label>
                    </div>
                </div>
            </div>
            <!--course-->
            <div class="block">
                <p class="form-control text-left input-grey">Course</p>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="needPay" value="false" ng-model="advertData.needPay" >Free</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="needPay" value="true" ng-model="advertData.needPay">Not Free</label>
                    </div>
                </div>
            </div>
            <!--type-->
            <div class="block">
                <p class="form-control text-left input-grey">Type Of Employment</p>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="emplType" value="fulltime" ng-model="advertData.emplType" checked >Full Employment</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="emplType" value="underemployment" ng-model="advertData.emplType">Underemployment</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="emplType" value="distant_work" ng-model="advertData.emplType">Distant Work</label>
                    </div>
                </div>
            </div>
            <!--hoursPerWeek-->
            <div class="block">
                <p class="form-control text-left input-grey">Hours per week</p>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="hoursPerWeek" value="more_than_30" ng-model="advertData.hoursPerWeek" >More than 30</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="hoursPerWeek" value="less_than_30" ng-model="advertData.hoursPerWeek">Less than 30</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="hoursPerWeek" value="of_necessity" ng-model="advertData.hoursPerWeek">Of necessity</label>
                    </div>
                </div>
            </div>
            <!--description-->
            <div class="block">
                <textarea class="form-control input-grey" ng-model="advertData.description" placeholder="Description" style="margin: 10px 0px 10px"></textarea>
            </div>
        </div>
        <div class="col-md-5">
            <!--citySelect-->
            <div class="block">
                <div class="row">                    
                    <button type="button" class="btn btn-blue col-md-offset-2 search-btn" style="width: 200px; border-bottom: 2px solid #1e009e">Select City</button>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <input type="text" ng-model="searchCityStr" typeahead-on-select="selectCity($item, $model, $label, $event)" uib-typeahead="city for city in cities | filter:$viewValue" class="full-width input-grey" placeholder="Add city...">
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-xs-12">
                        <div ng-repeat="city in advertData.cities track by $index" class="label-grey full-width">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            {{city}}
                            <span ng-click="removeCity($index)" class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--categorySelect-->
            <div class="block">
                <div class="row">
                    <button type="button" class="btn btn-blue col-md-offset-2 search-btn" ng-click="openSelectCategoryModal()" style="width: 200px; border-bottom: 2px solid #1e009e; margin-bottom:10px;">Select Category</button>
                    
                </div>
                <div class="row" style="margin: 5px -5px" ng-show="advertData.subcategory">
                    <div class="col-md-12 text-center" style="background-color: #EAEFF2; margin: 5px">
                        <label >{{advertData.subcategory}}</label>
                    </div>
                </div>
            </div>
            <!--skills select-->
            <div class="block">
                <div class="row">
                    <button type="button" class="btn btn-blue col-md-offset-2 search-btn" style="width: 200px; border-bottom: 2px solid #1e009e; margin-bottom:10px;">Select Skills</button>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" ng-model="searchSkillStr" typeahead-on-select="selectSkill($item.name, false)" uib-typeahead="skill.name for skill in getSkills($viewValue)" class="full-width input-grey" placeholder="Add skill...">
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-light-blue search-btn" ng-click="selectSkill(searchSkillStr, true)">Create skill</button>
                    </div>
                        
                </div>
                <div class="row" style="margin: 5px -5px">
                    <!-- <div class="col-xs-12">
                        <div ng-repeat="skill in advertData.skills track by $index" class="label-grey full-width">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            {{skill.name}}
                            <span ng-click="removeSkill($index)" class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div> -->
                    <div class="col-md-5 text-center " ng-repeat="skill in advertData.skills track by $index" style="background-color: #EAEFF2; margin: 5px">                       
                        <label >{{skill.name}}</label>
                        <button type="button" class="close" ng-click="removeSkill($index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>

        </div>

    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <button class="btn btn-blue search-btn" ng-click="createAdvert()">Create Advert</button>
        </div>
    </div>
</div>


