<link rel="stylesheet" type="text/css" href="../styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../styles/createAdvert.css">

<div class="container col-md-offset-3 col-md-6" >
    <div class="row">
        <h1 class="text-left"><span>Create Advert</span></h1>
    </div>
    <div class="row" >
        <div class="col-md-7">
            <div class="block">
                <input class="form-control" type="text" placeholder="Name" style="margin: 10px 0px 10px">
            </div>
            <div class="block">
                <div class="text-left" style="margin: 10px 0px 10px">
                    <select class="form-control">
                        <option >Closing Date For Application</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                    </select>
                </div>

            </div>
            <!--salary-->
            <div class="block">
                <p class="form-control text-left">Salary / Grants</p>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" checked >Have</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">Don't Have</label>
                    </div>
                </div>
            </div>
            <!--course-->
            <div class="block">
                <p class="form-control text-left">Course</p>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" checked >Free</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">Not Free</label>
                    </div>
                </div>
            </div>
            <!--type-->
            <div class="block">
                <p class="form-control text-left">Type Of Employment</p>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" checked >Full Employment</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">Underemployment</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">Distant Work</label>
                    </div>
                </div>
            </div>
            <!--description-->
            <div class="block">
                <textarea class="form-control" placeholder="Description" style="margin: 10px 0px 10px"></textarea>
            </div>
        </div>
        <div class="col-md-5">
            <!--citySelect-->
            <div class="block">
                <div class="row">
                    <button type="button" class="btn btn-primary btn-lg col-md-offset-2" style="width: 200px; border-bottom: 2px solid #1e009e">Select City</button>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >Vinnitsa</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >Kyiv</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >Rivne</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >Lviv</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >Zhitomir</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>
            <!--categorySelect-->
            <div class="block">
                <div class="row">
                    <button type="button" class="btn btn-primary btn-lg col-md-offset-2" style="width: 200px; border-bottom: 2px solid #1e009e">Select Category</button>
                </div>
                <select class="form-control" style="margin:5px 0px">
                  <option>Web Development</option>
                </select>
                <select class="form-control" style="margin:5px 0px">
                  <option>Network & System</option>
                </select>
            </div>
            <!--skills select-->
            <div class="block">
                <div class="row">
                    <button type="button" class="btn btn-primary btn-lg col-md-offset-2" style="width: 200px; border-bottom: 2px solid #1e009e">Select Skills</button>
                </div>
                <div class="row" style="margin: 5px -5px">
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >JavaScript</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >HTML</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >MySQL</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >CSS3</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="col-md-5 text-center " style="background-color: #EAEFF2; margin: 5px">
                        <label >jQuery</label>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/javascript" src="../js/bootstrap.js"></script>


