<div class="container">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <div class="row">
                <h3>My profile</h3>
            </div>
            <div class="row">
                <img src="http://lh6.ggpht.com/-p4GeIyllIqA/Tfu4E7ZvvQI/AAAAAAAA3G4/29sS60a9vHI/41519815_b34328250cb1_thumb%25255B6%25255D.jpg?imgmax=800" class="img-responsive">
            </div>
            <div class="row">
                <h4>Availability</h4>
            </div>
            <div class="row">
                <a href="" ng-click="setAvailability()" ng-show="isAvailable">(Set availability)</a>
                <div ng-if="setAvailable1">
                    <a href="" ng-click="setAvailability('yes')">Set Available</a>
                    <a href="" ng-click="setAvailability('no')">Set Not Available</a>
                </div>
                <h4 ng-if="setAvailable2">{{available}} <a href="" ng-click="changeAvailability()">(Change)</a></h4>
            </div>
            <div class="row">
                <h4>Languages</h4>
            </div>
            <div class="row" ng-repeat="lang in profile.languages">

            </div>
            <div class="row">
                <a href="">Edit languages</a>
            </div>
        </div>
        <div class="col-xs-7 col-xs-offset-1">
            <div class="row">
                <h3>{{profile.firstName}} {{profile.lastName}}</h3>
            </div>
            <div class="row">
                <h5>{{profile.birthDate | date:'mediumDate'}}</h5>
            </div>
            <div class="row">
                <h4>{{profile.currentCity}}, Ukraine</h4>
            </div>
            <div class="row">
                <h4 style="background-color: #dbc7c7;">Skills <a href="" ng-click="openAddSkillsModal()">Add Skills</a></h4>
            </div>
            <div class="row" ng-repeat="skill in profile.skills">
                <div class="row">
                    <h5 class="col-xs-3"><strong>{{skill.name}}</strong></h5>
                    <h6 class="col-xs-9">{{skill.description}}</h6>
                </div>
            </div>
            <div class="row">
                <h4 style="background-color: #dbc7c7;">Work Experience <a href="" ng-click="openWorkExperienceModal()">Add</a></h4>
            </div>
            <div class="row" ng-repeat="experience in profile.workExperience">
                <div class="row">
                    <h5 class="col-xs-3"><strong>{{experience.title}}</strong></h5>
                </div>
                <div class="row col-xs-12">
                    <h6>{{experience.yearsFrom | date:'MMM yyyy'}} - {{experience.yearsTo | date:'MMM yyyy'}}</h6>
                </div>
                <div class="row col-xs-12">
                    <h6>{{experience.degree}}</h6>
                </div>
            </div>
            <div class="row">
                <h4 style="background-color: #dbc7c7;">Education <a href="" ng-click="openEducationModal()">Add </a></h4>
            </div>
            <div class="row" ng-repeat="edu in profile.education">
                <div class="row col-xs-12">
                    <div class="col-xs-3">
                        <h5>{{edu.yearsFrom | date:'yyyy'}} - {{edu.yearsTo | date:'yyyy'}}</h5>
                    </div>
                    <div class="col-xs-9">
                        <h5><strong>{{edu.uni}}</strong></h5>
                    </div>
                </div>
                <div class="row col-xs-offset-3 col-xs-9">
                    <h5>{{edu.faculty}}</h5>
                </div>
                <div class="row col-xs-offset-3 col-xs-9">
                    <h6>{{edu.degree}}</h6>
                </div>
            </div>
            <div class="row">
                <h4 style="background-color: #dbc7c7;">Portfolios <a href="" ng-click="openPortfolioModal()">Add </a></h4>
            </div>
            <div class="row" ng-repeat="port in profile.portfolio">
                <div class="col-xs-3">
                    Image
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <h5><strong>{{port.title}}</strong></h5>
                    </div>
                    <div class="row">
                        <h5>{{port.description}}</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4 style="background-color: #dbc7c7;">Courses <a href="">Add </a></h4>
            </div>
        </div>
    </div>
</div>