<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <input type="text" ng-model="selectedCity" typeahead-on-select="selectCity($item, $model, $label, $event)" uib-typeahead="city.city for city in cities | filter:$viewValue" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            qaaaaaaaaaaaaaa a  aaaaaaaaaaaaaa aaaaaaa aaaaaaaa aaaaaaaaaa aaaaaaaaaa aaaaaaaaaa aaaaaa aaaaaaaaa aa
        </div>
    </div>
    <div class="row">
        <input type="file" nv-file-select uploader="uploader"/><br/>
        <ul>
            <li ng-repeat="item in uploader.queue">
                <!-- Name: <span ng-bind="item.file.name"></span><br/> -->
                <!-- <button ng-click="item.upload()">upload</button> -->
                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
            </li>
        </ul>
    </div>
    <div class="row">
        <form name="regForm" novalidate>
            <input type="text" ng-model="loginM" name="login" required="" />
            <p ng-show="regForm.$submitted && regForm.login.$error.required">Werong login</p>

            <input type="email" name="email"/>

            <input type="text" name="city"/>

            <button type="submit" >Submit</button>
        </form>
    </div>
    <div class="row">
        <button class="btn btn-success" ng-click="showPop()">Pop</button>
    </div>
</div>