<!-- <img src="../images/main.jpg">
<div>It's really easy to get first work experience!</div>
<div ng-hide="isLoggedIn">
    <a href="/#/registration">Registration</a>
</div> -->

<div style="position: relative; ">
   <div style="position: absolute;"><div style="font-size: 60px;">It's really easy to get first work experience!</div></div>
   <a ng-hide="isLoggedIn" style="position: absolute;" href="/#/registration">Registration</a>
   <img src="../images/main.jpg" style="width:100%; height: 100%">
</div>