<!-- <img src="../images/main.jpg">
<div>It's really easy to get first work experience!</div>
<div ng-hide="isLoggedIn">
    <a href="/#/registration">Registration</a>
</div> -->

<div style="">
   <div style="width: 100%;position: absolute;">
        <div style="width:720px;font-size: 53px;margin: 50px auto;">Get your first work experience!</div>
        <div style="width:288px;font-size: 53px;margin: 50px auto;display:block"><button class="" style="width:288px;font-size: 53px;">Start voting</button></div>
    </div>
   <a ng-hide="isLoggedIn" style="position: absolute;" href="/#/registration">Registration</a>
   <img src="../images/hero_bg_large.jpg" style="margin: -134px 0 0 0;width:100%; height: 70%">
</div>