<link rel="stylesheet" type="text/css" href="../styles/bootstrap.css">

<div class="container col-md-8 col-md-offset-2" >
  <div class="row">
    <h1>Profile</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="row text-center">
        <div class="col-md-10">
          <img class="img-circle" width="90%" src="../images/img-not-found.png" alt="face">
        </div>
      </div>
      <div class="row text-center">
        <div class="progress col-md-10 " style="margin-top: 15px;">
          <div class="progress-bar-info" role="progressbar"
               aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
            30%
          </div>
        </div>
      </div>
      <div class="row">
        <h3 class="col-md-12">Availability</h3>
        <label class="col-md-12">Available</label>
      </div>
      <div class="row">
        <h3 class="col-md-12">Language</h3>
        <label class="col-md-12">English: Conversational</label>
        <label class="col-md-12">Ukrainian: Fluent</label>
        <label class="col-md-12">Russian: Fluent</label>
      </div>
    </div>
    <div class="col-md-9">
      <h1 style="margin-top: 0px">Michelle Lewin</h1>
      <p>25 Feb 1988</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Kiev, Ukraine</p>
      <div class="row">
        <div class="col-md-12" style="background-color: rgba(195, 190, 192, 1)">
          <h4>Skills</h4>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3>Javascript</h3>
          </div>
          <div class="col-md-9">
            <p>Some beautiful text</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3>HTML</h3>
          </div>
          <div class="col-md-9">
            <p>Some beautiful text</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3>Objective C</h3>
          </div>
          <div class="col-md-9">
            <p>Some beautiful text</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="background-color: rgba(195, 190, 192, 1)">
          <h4>Work Experience</h4>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Front Counter Supervisor</h4><br>
            <p>Feb 2012 - Oct 2013</p><br>
            <p>Some beautiful text</p><br>
          </div>
          <div class="col-md-12">
            <h4>Front-End Developer</h4><br>
            <p>Jan 2007 - Sep 2011</p><br>
            <p>Some beautiful text</p><br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="background-color: rgba(195, 190, 192, 1)">
          <h4>Education</h4>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p>2009-2012</p>
          </div>
          <div class="col-md-9">
            <h4>National Technical University of Ukraine "KPI"</h4>
            <p>Faculty of Informatics and Computer Technologies</p>
            <p>Bachelor of System Programming</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="background-color: rgba(195, 190, 192, 1)">
          <h4>Portfolios</h4>
        </div>
        <div class="row">
          <div class="col-md-3 text-center">
            <img src="../images/img-not-found.png" alt="portfolios img" width="70%" style="margin-top:10px">
          </div>
          <div class="col-md-9">
            <h4>Title of Portfolio</h4>
            <p>Some beautiful text</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="background-color: rgba(195, 190, 192, 1)">
          <h4>Courses</h4>
        </div>
        <div class="row">
          <div class="col-md-3 text-center">
            <p>Jan 2007 - Sep 2011</p>
            <img src="../images/img-not-found.png" alt="Course img" width="70%" style="margin-top:10px">
          </div>
          <div class="col-md-9">
            <h4>Name of Course</h4>
            <p>Some beautiful text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
