<div class="container col-md-offset-1 col-md-12" >
	<div class="row">
		<h2 class="col-md-2">Proposal List</h2>
	</div>
	<div class="row">
		<h2 class="col-md-offset-2 col-md-2"><strong>Search result</strong></h2>
	</div>
	<div class="row">
		<div class="col-md-2">

			<h2 style="margin-top:20px;"><small>Select categories</small></h2>
			<button type="button" ng-click="openSelectCategoryModal()" class="btn btn-default btn-block">Add Category</button>	
			<h4 ng-repeat="categ in selectedCategories"><span style="display:block;" class="label label-default">{{categ}}</span></h4>


			<h2 style="margin-top:20px;"><small>Select Cities</small></h2>
			<input type="text" ng-model="citySearchStr" typeahead-on-select="selectCity($item, $model, $label, $event)" uib-typeahead="city for city in cities | filter:$viewValue" class="form-control">
			<div class="col-md-12 text-center " ng-repeat="city in selectedCities track by $index" style="background-color: #EAEFF2; margin: 5px">
                <label >{{city}}</label>
                <button type="button" class="close" ng-click="removeCity($index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

			<h2 style="margin-top:20px;"><small>Select Skills</small></h2>
			<input type="text" ng-model="skillSearchStr" typeahead-on-select="selectSkill($item, $model, $label, $event)" uib-typeahead="skill.name for skill in getSkills($viewValue)" class="form-control">
			<div class="col-md-12 text-center " ng-repeat="skill in selectedSkills track by $index" style="background-color: #EAEFF2; margin: 5px">
                <label >{{skill}}</label>
                <button type="button" class="close" ng-click="removeSkill($index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>	


			<h2 style="margin-top:20px;"><small>Type Of Employment</small></h2>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpEmplType['fulltime']" ng-change="emplTypeChanged('fulltime')">
					Fulltime
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpEmplType['underemployment']" ng-change="emplTypeChanged('underemployment')">
					Underemployment
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpEmplType['distant_work']" ng-change="emplTypeChanged('distant_work')">
					Distant Work
				</label>
			</div>


			<h2 style="margin-top:20px;"><small>Salary / Grants</small></h2>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpPaid['true']" ng-change="paidChanged('true')">
					Have
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpPaid['false']" ng-change="paidChanged('false')">
					Don`t Have
				</label>
			</div>


			<h2 style="margin-top:20px;"><small>Course</small></h2>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpNeedPay['false']" ng-change="needPayChanged('false')">
					Free
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpNeedPay['true']" ng-change="needPayChanged('true')">
					Not Free
				</label>
			</div>


			<h2 style="margin-top:20px;"><small>Number Of Hours Per Week</small></h2>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpHoursPerWeek['more_than_30']" ng-change="hoursPerWeekChanged('more_than_30')">
					More Than 30
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpHoursPerWeek['less_than_30']" ng-change="hoursPerWeekChanged('less_than_30')">
					Less Than 30
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="tmpHoursPerWeek['of_necessity']" ng-change="hoursPerWeekChanged('of_necessity')">
					Of Necessity
				</label>
			</div> 
			<button ng-click="applyFilter()" style="margin-top:25px" class="btn btn-primary btn-block">Search</button>
		</div>
		<div class="col-md-8" style="background-color: #fefeeb">
			<div class="row" ng-repeat="advert in adverts">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-md-12">
							<h2>{{advert.title}}</h2>
						</div>
					</div>
					<div class="row">
						<h3 class="col-md-3"><strong>Company`s Name</strong></h3>
						<h3 class="col-md-offset-8">{{advert.emplType}} - {{advert.hoursPerWeek}}</h3>
					</div>
					<div class="row col-md-12">
						<h4>
							{{advert.description}}
						</h4>
					</div>
					<div class="row col-md-12">
						<h4>Cities: <strong><span ng-repeat="city in advert.cities">{{city}} </span></strong></h4>
					</div>
					<div class="row">
						<h4 class="col-md-1">Skills:</h4>
						<h4 ng-repeat="skill in advert.skills" class="label label-default col-md-1">{{skill}}</h4>
					</div>
				</div>
			</div>
			<hr>
			
			<button ng-click="showMore()" type="button" style="float:right; margin-top:150px;" class="btn btn-link btn-sm">Show more</button>
		</div>
	</div>
	<div class="row" style="margin-top:100px;">
		<button type="button" class="btn btn-link btn-xs" style="color:black;" >About us</button>|<button type="button" class="btn btn-link btn-xs" style="color:black;">Contact Us</button>
	</div>
</div>