html {
    min-height:100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7fbfd+29,e5e6dc+64,e5e6dc+100 */
    /*background: #e5e6dc; /* Old browsers */
    background: #f7fbfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7fbfd 29%, #e5e6dc 64%, #e5e6dc 100%);  FF3.6-15
    background: -webkit-linear-gradient(top,  #f7fbfd 29%,#e5e6dc 64%,#e5e6dc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f7fbfd 29%,#e5e6dc 64%,#e5e6dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfd', endColorstr='#e5e6dc',GradientType=0 ); /* IE6-9 */
}

body {
    background:initial;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.full-width {
    width:100%;
}

.navbar-brown {
    min-height:55px;
    margin:0;
    background-color:#4e4e4e;
    border:0;
    border-radius:0;
}

.navbar-default .navbar-brand {
    color:#f7fbfd;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:#E0E5E8;
}


.navbar-brown .navbar-nav>li>a {
    font-size:20px;
    font-weight:lighter;
    font-family:Calibri;
    color:#f7fbfd;
}

.navbar-brown .navbar-nav>li>a:hover,
.navbar-brown .navbar-nav>li>a:focus {
    color:#E0E5E8;
}

.input-grey {
    height: 30px;
    padding: 5px;
    font-family: Euphemia;
    font-size: 17px;
    color: #4e4e4e;
    background: #dce1e3;
    border: 0;
}

.btn-grey {
    height: 33px;
    padding: 0;
    border-radius: 0;
    font-family: Euphemia;
    font-size: 17px;
    color: #5d6163;
    background: #dce1e3;
}

.btn-grey:hover, .btn-grey:visited, .btn-grey:active, .btn-grey:focus {
    color: #5d6163;
}

.btn-blue {
    height: 33px;
    padding: 0px 23px;
    border-radius: 0;
    font-family: Euphemia;
    font-size: 17px;
    color: #fafdfe;
    background: #3b4e6f;
}

.btn-light-blue {
    height: 30px;
    padding: 0px 10px;
    border-radius: 0;
    font-family: Euphemia;
    font-size: 15px;
    color: #fafdfe;
    background: #00BFFF;
}

.btn-blue:hover, .btn-blue:visited, .btn-blue:active, .btn-blue:focus {
    color: #fafdfe;
}

.text-center {
    text-align: center;
}

.label-grey {
    height: 25px;
    padding: 0;
    margin:3px 0;
    border-radius: 0;
    background-color: #e9edef;
    line-height: 25px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 14px;
    color: #3D7592;
    text-align: center;
}

.label-grey .glyphicon {
    font-size:12px;
    color: #7e7e7f;
}

.label-grey .glyphicon-remove {
    float: right;
    padding: 0px 3px;
    font-size: 12px;
    color: #7e7e7f;
    cursor: pointer;
}

.search-filter {
    margin-top:10px;
}

.search-filter .section-name {
    margin-top: 7px;
    margin-bottom: 4px;
    color: #4e4e4e;
    font-family: Euphemia;
}

.search-filter .checkboxes {
    padding: 2px 7px 3px;
    font-family: Calibri;
    font-size: 18px;
    color: #4e4e4e;
    background: #f2f3f1;
}

.search-filter .checkboxes .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.checkbox label span {
    margin-left:10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.checkbox input[type="checkbox"] {
    display:none;
}
.checkbox input[type="checkbox"] + label  {
    display: inline-block;
    /*width: 19px;*/
    /*height: 19px;*/
    margin: 0px 0px 0 0;
    vertical-align: middle;
    background: url('../images/checkbox_empty.png') 0px 5px no-repeat;
    cursor: pointer;
}
.checkbox input[type="checkbox"]:checked + label {
    background: url('../images/checkbox_checked.png') 0px 5px no-repeat;
}

.search-filter .search-btn {
    margin-top:20px;
}

.page-title {
    margin-top: 35px;
    font-size:24px;
    font-family:Calibri;
    color:#4e4e4e;
}

.search-header {
    margin: 20px 0 7px 10px;
    font-size:24px;
    font-weight:bold;
    font-family:Calibri;
    color:#4e4e4e;
}

.search-list {
    padding-bottom:10px;
}


.search-list .search-res {
    padding: 10px 10px;
}

.search-list .search-res .bottom-border hr {
    margin:15px 0 0 0;
    background-color:#b0b4b6;
}

.search-list .search-res .title {
    font-size: 22px;
    font-family: Euphemia;
    color: #576d93;
}

.search-list .search-res .company {
    font-size: 18px;
    font-family: Calibri;
    font-weight: bold;
    color: #828383;
}

.search-list .search-res .empl-type {
    text-align: right;
    font-size: 16px;
    font-family: Calibri;
    color: #8c8d87;
}

.search-list .search-res .descr {
    text-align:justify;
    font-size:15px;
    font-family:Calibri;
}

.search-list .search-res .cities, .search-list .search-res .skills {
    margin-top: 7px;
    font-size: 16px;
    font-family: Calibri;
    color: #4e4e4e;
}

.search-list .search-res .city {
    margin: 0 2px;
    font-size: 16px;
    font-weight: bold;
    font-family: Calibri;
    color: #345566;
}

.search-list .search-res .skill {
    min-width: 39px;
    text-align: center;
    margin: 0px 4px;
    padding: 1px 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: Calibri;
    color: #576d93;
    background-color: #ecf0f1;
    display: inline-block;
}





.head-text {
    text-align:center;
}

.head-text h1 {
    font-size:38px;
    font-family:Calibri;
    color:#131313;
}

.head-text h3 {
    margin-top:0;
    margin-bottom: 25px;
    font-size:26px;
    font-family:Calibri;
    color:#4d4d4d;
}


.reg-mens-img, .reg-mens-text {
    text-align:center;
    cursor:pointer;
}

.reg-mens-text {
    margin:0;
    font-size:30px;
    font-family:Calibri;
    color:#345566;
}

.reg-mens-img img {
    margin-left: 32px;
}

.reg-form {
    margin: 15px 0 40px;
    padding: 15px 40px 0;
    background-color:#d6d7cd;
}

.reg-form .progress-line .line {
    margin: 11px 0 0;
    padding: 0;
}

.reg-form .progress-line .progress {
    height:11px;
    border-radius:0;
}

.reg-form .progress-line .progress-bar {
    background-color:#345566;
}

.reg-form .progress-line .text {
    font-size:22px;
    font-family:Calibri;
    color:#345566;
}

.reg-form .form-group label {
    font-size:20px;
    font-family:Calibri;
    color:#1d1d1d;
}

.reg-form .btn-dark-grey {
    height: 34px;
    background-color: #8c8d87;
    font-size: 20px;
    font-family: Calibri;
    line-height: 17px;
    color: #f5fbfd;
    border-radius: 0;
}

.reg-form .lang-educ {
    margin-top: 20px;
}

.reg-form .lang-educ-list {
    margin-top: 10px;
}

.reg-form .lang-educ-list span {
    margin-top: 5px;
    display: inline-block;
    font-size:18px;
    font-family:Calibri;
    color:#2e2e2e;
}

.reg-form .form-group:not(.has-error) .form-control {
    border-radius:0;
    border-color:#eeefe4;
}

.reg-form .form-group p {
    transition: all linear 0.1s;
    opacity:1;
}

.reg-form .form-group p.ng-hide {
    opacity:0;
}

.reg-form .paging-buttons {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: right;
}

.reg-form .paging-buttons .btn-blue {
    height: 40px;
    padding: 0px 23px;
    line-height: 0px;
    font-size: 22px;
    font-family: Euphemia;
    color: #fafafa;
    background-color: #00879b;
}

.profile .title {
    margin-left: 3px;
    margin-top: 25px;
    font-size: 19px;
}

.profile .image {
    margin-top: 15px;
    border-radius: 50%;
}

.profile .add-advert {
    margin-top: 15px;
}

.profile .company-name {
    margin: 30px 0 0 0px;
    font-size: 20px;
    font-weight: bold;
}

.profile .section-heading {
    padding: 6px 0 2px 0px;
    color:#345566;
    font-size: 18px;
    background-color: #e4e6e5;
}

.profile .section-body {
    padding: 5px;
    background-color: white;
}


